<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de Productos</span>
                    <button [routerLink]="['/crear-producto']" class="btn btn-success float-end" >NUEVO</button>

                    <table class="table table-striped mt-4">

                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          <tr>
                            <th>Pepsi</th>
                            <td>Bebida</td>
                            <td>50</td>
                            <td>1650</td>
                            <td>
                              <i class="fas text-primary fa-solid fa-pen-to-square"></i>
                              <i class="fas text-danger fa-solid fa-trash-can"></i>
                            </td>
                            
                          </tr>
                          <tr>
                            <th>Malboro 20</th>
                            <td>Cigarros</td>
                            <td>24</td>
                            <td>4500</td>
                            <td>
                              <i class="fas text-primary fa-solid fa-pen-to-square"></i>
                              <i class="fas text-danger fa-solid fa-trash-can"></i>
                            </td>
                          </tr>
                        </tbody>
                        
                      </table>

                </div>
            </div>
        </div>
    </div>
</div>