<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR PRODUCTO</span>
                    <!-- //creo el evento agregarProducto para que se ejecute cuando se haga submit en el formulario -->
                    <form class="mt-3" [formGroup] = "productoForm" (ngSubmit)="agregarProducto()">

                        <div class="mb-3">
                            <input type="text"
                            formControlName="producto" 
                            class="form-control form-control-lg" 
                            placeholder="Producto">

                            <div class="text-danger" 
                            *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched">
                                <span></span>El campo Producto <strong>es Obligatorio</strong>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <input type="text"
                            formControlName="categoria"
                            class="form-control form-control-lg"
                            placeholder="Categoria">

                            <div class="text-danger" 
                            *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                                <span></span>El campo Categoria <strong>es Obligatorio</strong>
                            </div>

                        </div>

                        <div class="mb-3">
                            <input type="text"
                            formControlName="cantidad"
                            class="form-control form-control-lg"
                            placeholder="Cantidad">

                            <div class="text-danger" 
                            *ngIf="productoForm.get('cantidad')?.hasError('required') && productoForm.get('cantidad')?.touched">
                                <span></span>El campo Cantidad <strong>es Obligatorio</strong>
                            </div>

                        </div>

                        <div class="mb-3">
                            <input type="number"
                            formControlName="precio"
                            class="form-control form-control-lg"
                            placeholder="Precio">

                            <div class="text-danger" 
                            *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                                <span></span>El campo Precio <strong>es Obligatorio</strong>
                            </div>

                        </div>

                        <div class="mb-3">

                            <button [routerLink]="['/']" class="btn btn-secondary btn-lg float-start">VOLVER</button>

                            <button [disabled]="productoForm.invalid" type="submit" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                            
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>